/* Estilos personalizados */
body {
  font-family: "DM Sans", sans-serif; /* Fuente personalizada para el cuerpo del documento */
}

.navbar {
  background-color: #0b5ed7 !important; /* Color de fondo de la barra de navegación */
}

.navbar-brand,
.nav-link {
  color: #f1faee !important; /* Color del texto de la marca y los enlaces de navegación */
}

.nav-link:hover {
  color: #8db8bb !important; /* Color del texto de los enlaces de navegación al pasar el ratón por encima */
}

section {
  padding: 60px 0; /* Espaciado vertical para las secciones */
}

.card {
  border: none; /* Sin borde para las tarjetas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para las tarjetas */
  transition: transform 0.3s ease; /* Transición suave para el efecto de desplazamiento */
}

.card:hover {
  transform: translateY(
    -10px
  ); /* Efecto de desplazamiento hacia arriba al pasar el ratón por encima */
}
.card-title {
  color: #2c3e50;
  /* Color del título de las tarjetas */
}
.btn-outline-primary {
  border-color: #2c3e50;
  /* Color del borde del botón */
  color: #2c3e50; /* Color del texto del botón */
}
.btn-outline-primary:hover {
  background-color: #2c3e50; /* Color de fondo del botón al pasar el ratón por encima */
  color: #fff; /* Color del texto del botón al pasar el ratón por encima */
}
footer {
  background-color: #2c3e50; /* Color de fondo del pie de página */
}
.list-group-item {
  border: none; /* Sin borde para los elementos de la lista */
  padding: 10px 15px;
  /* Espaciado interno para los elementos de la lista */
}
.list-group-item strong {
  color: #2c3e50; /* Color del texto en negrita dentro de los elementos de la lista */
}

/* Botones de acción flotantes (FAB) */
.fab {
  position: fixed;
  width: 60px;
  height: 60px;
  right: 40px;
  border-radius: 50%;
  color: #fff;
  font-size: 30px;
  z-index: 100;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  /* Centrado de ícono con Flexbox */
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.fab:hover {
  transform: translateY(-3px);
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3);
}

.whatsapp {
  bottom: 40px;
  background-color: #25d366;
}

.gmail {
  bottom: 110px;
  background-color: #d14836;
}

.btn-attractive {
  display: inline-block; /* Mostrar como un bloque en línea */
  padding: 8px 15px;
  /* Espaciado interno del botón */
  font-size: 14px; /* Tamaño de la fuente del botón */
  color: #fff; /* Color del texto del botón */
  background-color: #007bff; /* Color de fondo del botón */
  border: none; /* Sin borde para el botón */
  border-radius: 0.25rem; /* Bordes redondeados para el botón */
  text-decoration: none; /* Sin subrayado para el texto del botón */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para el botón */
  transition: all 0.3s ease; /* Transición suave para todos los cambios */
}
.btn-attractive:hover {
  background-color: #0056b3;
  /* Color de fondo del botón al pasar el ratón por encima */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Sombra más intensa al pasar el ratón por encima */
  transform: translateY(
    -2px
  ); /* Efecto de desplazamiento hacia arriba al pasar el ratón por encima */
}
/* Estilos personalizados para la sección de habilidades */
#habilidades .habilidad-icon {
  width: 50px; /* Ancho de las imágenes */
  height: auto; /* Altura automática para mantener la proporción */
  margin: 10px; /* Margen alrededor de las imágenes */
  transition: transform 0.3s ease; /* Transición suave para el efecto de desplazamiento */
}
#habilidades .habilidad-icon:hover {
  transform: scale(
    1.1
  ); /* Efecto de agrandamiento al pasar el ratón por encima */
}
