/* Estilos personalizados */
body {
  font-family: "DM Sans", sans-serif; /* Fuente personalizada para el cuerpo del documento */
}

.navbar {
  background-color: #0b5ed7 !important; /* Color de fondo de la barra de navegación */
}

.navbar-brand,
.nav-link {
  color: #f1faee !important; /* Color del texto de la marca y los enlaces de navegación */
}

.nav-link:hover {
  color: #8db8bb !important; /* Color del texto de los enlaces de navegación al pasar el ratón por encima */
}

section {
  padding: 60px 0; /* Espaciado vertical para las secciones */
}

.card {
  border: none; /* Sin borde para las tarjetas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para las tarjetas */
  transition: transform 0.3s ease; /* Transición suave para el efecto de desplazamiento */
}

.card:hover {
  transform: translateY(
    -10px
  ); /* Efecto de desplazamiento hacia arriba al pasar el ratón por encima */
}

.card-title {
  color: #2c3e50; /* Color del título de las tarjetas */
}

.btn-outline-primary {
  border-color: #2c3e50; /* Color del borde del botón */
  color: #2c3e50; /* Color del texto del botón */
}

.btn-outline-primary:hover {
  background-color: #2c3e50; /* Color de fondo del botón al pasar el ratón por encima */
  color: #fff; /* Color del texto del botón al pasar el ratón por encima */
}

footer {
  background-color: #2c3e50; /* Color de fondo del pie de página */
}

.list-group-item {
  border: none; /* Sin borde para los elementos de la lista */
  padding: 10px 15px; /* Espaciado interno para los elementos de la lista */
}

.list-group-item strong {
  color: #2c3e50; /* Color del texto en negrita dentro de los elementos de la lista */
}

.whatsapp {
  position: fixed; /* Posición fija para el botón de WhatsApp */
  width: 60px; /* Ancho del botón de WhatsApp */
  height: 60px; /* Altura del botón de WhatsApp */
  bottom: 40px; /* Distancia desde la parte inferior de la pantalla */
  right: 40px; /* Distancia desde el lado derecho de la pantalla */
  background-color: #25d366; /* Color de fondo del botón de WhatsApp */
  color: #fff; /* Color del icono de WhatsApp */
  border-radius: 50px; /* Bordes redondeados para el botón de WhatsApp */
  text-align: center; /* Alineación centrada del icono dentro del botón */
  font-size: 30px; /* Tamaño de la fuente del icono de WhatsApp */
  z-index: 100; /* Asegura que el botón esté por encima de otros elementos */
}

.whatsapp-icon {
  margin-top: 13px; /* Margen superior para centrar el icono dentro del botón */
}

.gmail {
  position: fixed; /* Posición fija para el botón de Gmail */
  width: 60px; /* Ancho del botón de Gmail */
  height: 60px; /* Altura del botón de Gmail */
  bottom: 110px; /* Distancia desde la parte inferior de la pantalla */
  right: 40px; /* Distancia desde el lado derecho de la pantalla */
  background-color: #d14836; /* Color de fondo del botón de Gmail */
  color: #fff; /* Color del icono de Gmail */
  border-radius: 50px; /* Bordes redondeados para el botón de Gmail */
  text-align: center; /* Alineación centrada del icono dentro del botón */
  font-size: 30px; /* Tamaño de la fuente del icono de Gmail */
  z-index: 100; /* Asegura que el botón esté por encima de otros elementos */
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); /* Sombra para el botón de Gmail */
  transition: background-color 0.3s ease-in-out; /* Transición suave para el cambio de color de fondo */
}

.gmail-icon {
  margin-top: 13px; /* Margen superior para centrar el icono dentro del botón */
}

.btn-attractive {
  display: inline-block; /* Mostrar como un bloque en línea */
  padding: 8px 15px; /* Espaciado interno del botón */
  font-size: 14px; /* Tamaño de la fuente del botón */
  color: #fff; /* Color del texto del botón */
  background-color: #007bff; /* Color de fondo del botón */
  border: none; /* Sin borde para el botón */
  border-radius: 0.25rem; /* Bordes redondeados para el botón */
  text-decoration: none; /* Sin subrayado para el texto del botón */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para el botón */
  transition: all 0.3s ease; /* Transición suave para todos los cambios */
}

.btn-attractive:hover {
  background-color: #0056b3; /* Color de fondo del botón al pasar el ratón por encima */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Sombra más intensa al pasar el ratón por encima */
  transform: translateY(
    -2px
  ); /* Efecto de desplazamiento hacia arriba al pasar el ratón por encima */
}
